<div class=" p-2" id="TopBar">
    <p class="text-end">{{today | date: "dd/MM/yyyy 'à' hh:mm"}}</p>
</div>

<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark fixed-top" style="width: 280px; height: 100vh;">
    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <img class="navbar-brand" src="assets/Logo_short.png"/>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item ">
            <a routerLink="/" class="nav-link text-white d-flex align-items-center gap-2" >
                <img class="navbar-brand" width="20" height="20" src="assets/icons/home.png"/>
                Retour à l'accueil
            </a>
        </li>
        <hr>
        <li>
            <a href="#" class="nav-link text-white d-flex align-items-center gap-2">
                <img class="navbar-brand" width="20" height="20" src="assets/icons/dashboard.png"/>
                Dashboard
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white d-flex align-items-center gap-2">
                <img class="navbar-brand" width="20" height="20" src="assets/icons/orders.png"/>
                Orders
            </a>
        </li>
        <li>
            <a data-bs-toggle="collapse" href="#collapseProduct" role="button" aria-expanded="false" aria-controls="collapseProduct" class="nav-link text-white dropdown-toggle d-flex align-items-center gap-2">
                <img class="navbar-brand" width="20" height="20" src="assets/icons/product.png"/>
                Products
            </a>
            <ul class="collapse" id="collapseProduct">
                <li><a class="dropdown-item" routerLink="/services">Articles</a></li>
                <li><a class="dropdown-item" href="#">Catégories</a></li>
                <li><a class="dropdown-item" href="#">Matières</a></li>
            </ul>
        </li>

        <li>
            <a routerLink="/admin_services" class="nav-link text-white d-flex align-items-center gap-2">
                <img class="navbar-brand" width="20" height="20" src="assets/icons/laundry.png"/>
                Services
            </a>
        </li>
        
        <li class="nav-item dropdown">
            <a data-bs-toggle="collapse" href="#collapseUser" role="button" aria-expanded="false" aria-controls="collapseUser" class="nav-link text-white dropdown-toggle d-flex align-items-center gap-2">
                <img class="navbar-brand" width="20" height="20" src="assets/icons/customer.png"/>
                Users
            </a>
            <ul class="collapse" id="collapseUser">
                <li><a class="dropdown-item" href="#">Admins</a></li>
                <li><a class="dropdown-item" href="#">Employés</a></li>
                <li><a class="dropdown-item" href="#">Clients</a></li>
            </ul>
        </li>
        
        

        <li>
            <a href="#" class="nav-link text-white d-flex align-items-center gap-2">
                <img class="navbar-brand" width="20" height="20" src="assets/icons/sales.png"/>
                Reports
            </a>
        </li>
    </ul>
    <hr>
    <div class="">
        <ul class="nav nav-pills flex-column mb-auto">
            <li>
                <a href="#" class="nav-link text-white d-flex align-items-center gap-2">
                    <img class="navbar-brand" width="20" height="20" src="assets/icons/sales.png"/>
                    Sign out
                </a>
            </li>
        </ul>
    </div>
</div> 





