
/* .navbar-brand img {
    fill: white;
    width: 40px; /* ajuste la taille selon tes besoins 
  } */

  #collapseProduct {
    padding-left: 60px;
  }
  
  #collapseUser {
    padding-left: 60px;
  } 
  
  #TopBar {
    background-color: #67959F;
  }
  
  #TopBar h5{
    padding-right:20px;
  }
  