<div id="carouselExampleIndicators" class="carousel carousel-dark slide ">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/icons/step1.png" alt=""/>
            <h3>Faire preuve de transparance</h3>
        </div>
        <div class="carousel-item">
            <img src="assets/icons/step2.png" alt=""/>
            <h3>La solidarité et la Cohésion d'équipe</h3>
        </div>
        <div class="carousel-item">
            <img src="assets/icons/step3.png" alt=""/>
            <h3>Être acteur de l'environnement</h3>
        </div>
        <div class="carousel-item">
            <img src="assets/icons/step4.png" alt="" />
            <h3>La transmission de notre savoir</h3>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>