<section class="container">
    <div class="row">
        <div class="col-md-4 d-flex flex-column align-items-center" id="custom_margin_mobile_photo">
            <img  id="photo_profil" class="navbar-brand" src="assets/images/photo_profil_anna.jpg"/>
            <!-- <div class="mt-2">
                <div class="mb-2 mt-3">
                    <a class="d-flex align-items-center justify-content-center text-decoration-none text-dark" id="custom_img"><img width="17" height="17" src="assets/icons/pen.png">Modifier le profil</a>
                </div>
            </div> -->
        </div>
        <div class="col-md d-flex flex-column justify-content-center pt-3" id="custom_card_profil" >
            <div>
                <h3><img width="25" height="25" src="assets/icons/user_profil.png"> Mme LEBON Anne-Marie </h3>
            </div>
            <div>
                <p class="d-flex align-items-center"><img width="25" height="25" src="assets/icons/birthday_user.png">15/04/2585</p>
            </div>
            <div>
                <p class="d-flex align-items-center"><img width="25" height="25" src="assets/icons/home_user.png">235 cours de la République, 69003 LYON</p>
            </div>
            <div>
                <p class="d-flex align-items-center"><img width="25" height="25" src="assets/icons/mail.png">annemarie@gmail.com</p>
            </div>
            <div>
                <p class="d-flex align-items-center" id="custom_element"><img width="25" height="25" src="assets/icons/password_user.png">**************</p>
            </div>
        </div>
    </div>
</section>

<!-- Mettre en place la possibilité de modifier le profil et la photo de profil + le formulaire associé-->