p {
    text-align: justify;
}

.nav-link.active {
    color:rgb(42, 111, 125);
}
.nav-link {
    color:rgb(13, 29, 32);
}

#bloc1_who {
    margin-bottom: 50px;
}

#custom-photo{
    width: 90%;
}

#about_team{
    background-color: rgba(113, 219, 200, 0.25);
    width: 100%;
}

#margin-custom {
    margin-bottom: 50px;
}

#custom_local {
    margin-top: 90px;
}

/*  RESPONSIVE */
@media (max-width: 463px) {
    #margin-custom {
        padding-left: 30px;
        padding-right: 30px;
    }

    #custom_text_mobile_1 h2 {
        font-size: 40px;
    }
}

@media only screen and (min-width: 572px) and (max-width: 991px) {
    /* BLOC 1 - WHO  */
    #custom_text_mobile_1 {
        text-align: center;
        margin-top: 35px; 
    }

    #custom_text_mobile_1 h2 {
        padding-bottom: 20px;
    }

    #bloc1_who {
        margin-bottom: 20px;
    }

    #position_img {
        display: flex;
        justify-content: center;
    }

    /* BLOC 2 - TEAMS  */
    #custom_text_mobile_2 {
        text-align: center; 
    }

    #custom_text_mobile_2 h2 {
        padding-bottom: 20px;
    }

    #custom_text_mobile_2 p {
        padding-bottom: 20px;
    }

    #position_img {
        margin-top: 15px;
    }

    /* BLOC 3 - LOCAL  */

    #custom_text_mobile_3 {
        text-align: center; 
    }

    #custom_text_mobile_3 h2 {
        padding-top: 25px;
        padding-bottom: 17px;
    }

    #custom_local {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
@media only screen and (min-width: 250px) and (max-width: 569px) {
/* BLOC 1 - WHO  */
    #custom_text_mobile_1 {
        text-align: center;
        margin-top: 35px; 
        margin-left: 30px;
        margin-right: 30px;
    }

    #custom_text_mobile_1 h2 {
        padding-bottom: 20px;
    }

    #position_img {
        display: flex;
        justify-content: center;
    }

    #bloc1_who {
        margin-bottom: 20px;
    }

    /* BLOC 2 - TEAMS  */
    #custom_text_mobile_2 {
        text-align: center; 
        
    }

    #custom_text_mobile_2 h2 {
        padding-bottom: 20px;
        margin-left: 30px;
        margin-right: 30px;
    }

    #custom_text_mobile_2 p {
        padding-bottom: 20px;
        margin-left: 30px;
        margin-right: 30px;
    }

    #position_img {
        margin-top: 15px;
    }

    /* BLOC 3 - LOCAL  */

    #custom_text_mobile_3 {
        text-align: center; 
    }

    #custom_text_mobile_3 h2 {
        padding-top: 25px;
        padding-bottom: 17px;
        margin-left: 30px;
        margin-right: 30px;
    }

    #custom_text_mobile_3 p {
        margin-left: 30px;
        margin-right: 30px;
    }

    #custom_local {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
