<div class="container-fluid" >
    <div class="row" id="customBack">
        <div class="col-lg-5 pb-5" id="desc_contact">
            <div>
                <h2>Une question, une demande ?</h2>
                <h3>Contactez nos équipes !</h3>
                <p id="p_desc">Votre service après-vente de qualité est mis à votre disposition avec une FAQ. Si vous ne trouvez pas votre réponse, n'hésitez pas à nous contacter.</p>
            </div>
        
            <div class="mt-4 pb-4" id="icon_custom_mobile">
                <div id="margin_icon_custom">
                    <p><img id="icon_contact" src="assets/icons/store.png" alt="Horaires"> Ouvert du lundi au vendredi de 9h à 19h</p>
                    
                    <p><img id="icon_contact" src="assets/icons/localisation.png" alt="Adresse"> 25 rue de la comédie, 69006 LYON</p>

                    <p><img id="icon_contact" src="assets/icons/mail.png" alt="Email"> contacts&#64;cleanup.fr</p>
            
                    <p><img id="icon_contact" src="assets/icons/phone.png" alt="Téléphone"> 04.36.58.94.12</p>
                </div>
            </div>

            <div class="arrow text-center" id="arrow_bounce">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAvklEQVR4nO3RwQqDMBCE4aGHYt92j75XD7ZPZxEUSsCmarKZ1flhbznMRwCllFJKKeXZDSfYeAfwBNCDNwPwAvDIIcb5elLEON97DZNC2DCWbJsg3dpjVoxtQbBibA+CDWNHECwYK4FojbGSiFYYq4HwxlhNhBfGBVEb44qohWmCKI1piiiFoUAcxVAh9mIoEVsx1Ih/MSEQOUwoxNI0cEiGf98QAfHrZ8L8RA4TEpFiQiOWujMglFJKKaWu3AfcdLEudXvTswAAAABJRU5ErkJggg==">            
            </div>
        </div>
        
        <div class="col-lg-6 ">
            <form id="contact_form">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastname" class="mb-2">Nom* :</label>
                            <input type="text" name="lastname" class="form-control" placeholder="Votre nom" required/>
                        </div>
                    </div>
    
                    <div class="col-md-6" id="lastname_mobile">
                        <div class="form-group">
                            <label for="firstname" class="mb-2">Prénom :</label>
                            <input type="text" name="firstname" class="form-control" placeholder="Votre prénom"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="email" class="mb-2">Email* :</label>
                            <input type="email" name="email" class="form-control" placeholder="Votre adresse email" required/>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label class="mb-2">Choisissez un sujet :</label>
                            <select class="form-control">
                                <option>Problème avec mon paiement</option>
                                <option>Problème avec ma commande</option>
                                <option>J'aimerais plus de détail sur vos prix</option>
                                <option>J'aimerais postuler (CDI, CDD, alternance, stage, etc)</option>
                                <option>Ma demande concerne un autre sujet</option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="mb-2">Ecrivez-nous votre message :</label>
                    <textarea class="form-control"rows="7"></textarea>
                </div>
    
                <div class="text-center pt-4 mb-3 pb-1">
                    <button class="btn" id="btn3" name="connexion" type="submit">Envoyer</button> 
                </div>
            </form>
        </div>
    </div>
</div>