<section id="custom_bloc_orders">
    <div class="row">
        <!--<p>Aucunes commandes disponible.</p>-->

        <table class="table-PC">
            <thead>
                <tr>
                    <td class="custom_title" scope="col">N° commande</td>
                    <td class="custom_title" scope="col">Date de paiement</td>
                    <td class="custom_title" scope="col">Date de dépôt</td>
                    <td class="custom_title" scope="col">Statut</td>
                    <td class="custom_title" scope="col"></td>
                    <td class="custom_title" scope="col"></td>
                </tr>
            </thead>
        
            <tbody>
                <tr class="line_order">
                    <td>A256HY85</td>
                    <td>15/03/2023</td>
                    <td>16/03/2023</td>
                    <td>Terminé</td>
                    <td>
                        <a routerLink="/profil_user/my-orders/details-orders" class="d-flex align-items-center justify-content-end text-decoration-none text-dark" id="custom_img" >Détails</a>
                    </td>
                    <td>
                        <a class="d-flex align-items-center justify-content-center text-decoration-none text-dark" id="custom_img"><img widtd="17" height="17" src="assets/icons/trash-red.png"></a>
                    </td>
                </tr>
            
                <tr class="line_order">
                    <td>J654MQ45</td>
                    <td>26/12/2022</td>
                    <td>27/12/2022</td>
                    <td>Terminé</td>
                    <td>
                        <a class="d-flex align-items-center justify-content-end text-decoration-none text-dark" id="custom_img" >Détails</a>
                    </td>
                    <td>
                        <a class="d-flex align-items-center justify-content-center text-decoration-none text-dark" id="custom_img"><img widtd="17" height="17" src="assets/icons/trash-red.png"></a>
                    </td>
                </tr>
            
                <tr class="line_order">
                    <td>X924SC01</td>
                    <td>15/10/2022</td>
                    <td>16/10/2022</td>
                    <td>Terminé</td>
                    <td>
                        <a class="d-flex align-items-center justify-content-end text-decoration-none text-dark" id="custom_img">Détails</a>
                    </td>
                    <td>
                        <a class="d-flex align-items-center justify-content-center text-decoration-none text-dark" id="custom_img"><img widtd="17" height="17" src="assets/icons/trash-red.png"></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Version Mobile -->
        <table class="table-mobile">
            <thead>
                <tr >
                    <td class="custom_title" scope="col">N° commande</td>
                    <td class="custom_title" scope="col">Statut</td>
                    <td class="custom_title" scope="col"></td>
                    <td class="custom_title" scope="col"></td>
                </tr>
            </thead>
        
            <tbody>
                <tr class="line_order">
                    <td>A256HY85</td>
                    <td>Terminé</td>
                    <td>
                        <a routerLink="/profil_user/my-orders/details-orders" class="d-flex align-items-center justify-content-end text-decoration-none text-dark" id="custom_img" >Détails</a>
                    </td>
                    <td>
                        <a class="d-flex align-items-center justify-content-center text-decoration-none text-dark" id="custom_img"><img widtd="17" height="17" src="assets/icons/trash-red.png"></a>
                    </td>
                </tr>
            
                <tr class="line_order">
                    <td>J654MQ45</td>
                    <td>Terminé</td>
                    <td>
                        <a class="d-flex align-items-center justify-content-end text-decoration-none text-dark" id="custom_img" >Détails</a>
                    </td>
                    <td>
                        <a class="d-flex align-items-center justify-content-center text-decoration-none text-dark" id="custom_img"><img widtd="17" height="17" src="assets/icons/trash-red.png"></a>
                    </td>
                </tr>
            
                <tr class="line_order">
                    <td>X924SC01</td>
                    <td>Terminé</td>
                    <td>
                        <a class="d-flex align-items-center justify-content-end text-decoration-none text-dark" id="custom_img">Détails</a>
                    </td>
                    <td>
                        <a class="d-flex align-items-center justify-content-center text-decoration-none text-dark" id="custom_img"><img widtd="17" height="17" src="assets/icons/trash-red.png"></a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</section>

<!-- Mettre en place le systeme de récupération des commandes passées par le compte utilisateur associé -->
<!--Faire une modal pour tous les détails de la commande -->

