<app-cover-about></app-cover-about>

<div class="container d-flex flex-column justify-content-center align-items-center mt-5">
    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" routerLink="/about_us">Qui sommes-nous ?</a></li>
            <li class="nav-item"><a class="nav-link active">Nos valeurs & Nos engagements</a></li>
        </ul>
    </nav>
</div>

<section id="bloc_value">
    <div class="container">
        <div class="row">
            <div class="col-md-6" id="value_part">
                <h2 class="mb-4">Nos valeurs</h2>
                <p class="mb-3">Chez CleanUp', l'intégrité guide nos actions, l'innovation stimule notre croissance, la qualité est notre norme, et la responsabilité sociale est notre engagement envers la communauté et l'environnement. Ces valeurs sont notre boussole, assurant que chaque aspect de notre entreprise reflète nos engagements envers l'éthique, l'excellence et la durabilité. </p>
            </div>

            <div class="col row" id="carrou_valeur_mobile">
                <app-slider-value></app-slider-value>
            </div>
        </div>
    </div>
</section>

<section id="bloc_engagements">
    <div class="container my-5">
        <div class="text-center py-5" id="custom_engagement">
            <h2 class="pb-4">Nos engagements</h2>
            <p class="text-center">Chez CleanUp', on ne laisse pas de place aux belles paroles. Notre ambition est d'être l'acteur majeur de demain et pour ce faire, nos équipes travaillent en étroite collaboration pour mettre en place des actions concrète.</p>
        </div>
    </div>
</section>

<section>
    <section class="container my-5">
        <div class="row align-items-center">
            <div class="col-md-5">
                <img src="assets/images/environnement.jpg" alt="" class="mx-auto d-block"/>
            </div>
    
            <div class="col" id="custon_engagement_ex">
                <h3 class="mb-4">Environnementaux</h3>
                <p>Afin de montrer qu'il est toujours possible de faire mieux, nous travaillons constamment à réduire au maximum notre empreinte carbone en favorisant des alternatives respectueuses de l'environnement pour chaque étape de nos diverses prestations. Nous recherchons et utilisons des produits le plus écologiques possible, nous avons mis en place une gestion responsable de nos déchets, nous investissons dans des technologie de pointe qui nous permettent de minimiser notre consommation d'eau et d'énergie. Depuis 2020, nous avons créer un pôle recherche & développement afin de concevoir nos propres produits, plus performant et plus responsable. </p>
            </div>
        </div>
    </section>

    <section class="container my-5">
        <div class="row align-items-center">
            <div class="col-md-5">
                <img src="assets/images/solidarité.jpg" alt="" class="mx-auto d-block"/>
            </div>

            <div class="col" id="custon_engagement_ex">
                <h3 class="mb-4">Humain</h3>
                <p>Contribuer au bien-être de notre région en soutenant des initiatives locales, en fournissant des emplois stables et en favorisant un environnement de travail qui se veux inclusif. En plus de créer un environnement de travail positif et sécurisant, nous encourageons un équilibre sain entre vie professionnelle et vie personnelle. Des horaires flexibles et des programmes de bien-être contribuent à l'épanouissement de chacun de nos employés. </p>
            </div>
        </div>
    </section>

    <section class="container my-5">
        <div class="row align-items-center">
            <div class="col-md-5">
                <img src="assets/images/enseigner.jpg" alt="" class="mx-auto d-block"/>
            </div>
    
            <div class="col" id="custon_engagement_ex">
                <h3 class="mb-4">Le droit à la formation sans limite</h3>
                <p>Nous investissons dans le bien-être de nos employés en les formant régulièrement aux nouvelles techniques. Nous encourageons toujours nos équipes à apprendre, à développer leur savoir et leur compétences. Ce système nous permet de proposer à nos collaborateurs diverses évolutions au sein de l'entreprise en fonction de leurs besoins et envies. Bien évidemment, cette possibilité n'est pas une obligation et reste au bon vouloir de chacun.</p>
            </div>
        </div>
    </section>

    <section class="container my-5" id="customBloc_Enga">
        <div class="row align-items-center">
            <div class="col-md-5">
                <img src="assets/images/monnaie.jpg" alt="" class="mx-auto d-block"/>
            </div>

            <div class="col" id="custon_engagement_ex">
                <h3 class="mb-4">Transparence des prix</h3>
                <p>Ici, la transparence est de rigueur. Pas de cachoteries, pas de prix dissiulés, pas de suppléments non désiré. Avec CleanUp', soyez à l'abri des mauvaises surprises. Nous avons mis en place dans un premier temps la liste complète de nos tarification et de leur fonctionnement. Vous y trouverez également notre outil de <a routerLink="/services">simulation de prix</a> afin de vous permettre de vous renseigner rapidement.</p>
                <p>Et bien évidemment, vous pouvez nous contacter <a routerLink="/contact">ici</a> si vous souhaitez potentiellement plus de détails.</p>
            </div>
        </div>
    </section>

</section>

