<div class="bloc-dash">
    <div class="alertMessage">
        <p>⚠️ Votre pressing sera fermé pour les vacances de noël. Merci de votre compréhension.</p>
    </div>
    <div class="container">
        <div class="row mt-4">
            <div class="col-md blocLeft">
                <h3>Informations profil</h3>
                <div class="custimgtxt">
                    <p><img width="17" height="17" src="assets/icons/user_profil.png">Anne-Marie LEBON </p>
                   <!-- <p class="d-flex align-items-center"><img width="17" height="17" src="assets/icons/birthday_user.png">15/04/2585</p>
                    <p class="d-flex align-items-center"><img width="17" height="17" src="assets/icons/home_user.png">235 cours de la République, 69003 LYON</p>
                    <p class="d-flex align-items-center"><img width="17" height="17" src="assets/icons/mail.png">annemarie@gmail.com</p> -->
                </div>
            </div>

            <div class="col-md d-flex flex-column justify-content-between text-center blocLeft">
                <h3>Commande en cours</h3>
                <p class="custparaorder">0</p>
                <div class="text-center btnorderdash">
                    <button routerLink="/profil_user/my-orders" class="btn btn-link font-bold text-dark">Suivre vos commandes</button>
                </div>
                
            </div>
        </div>
    </div>
</div>
