<section>
    <div class="container mt-0">
        <div>
            <div class="content">
                <h3>Repassage</h3>
                <span>Vous en avez marre de repasser ? Confiez vos vêtement à Clean Up’, nos équipes sont toutes formées au technique de repassage et dispose d’un matériel professionnel </span>

            </div>
        </div>

        <div>
            <div class="content">
            <h3>Lavage</h3>
            <span>Donner à vos textiles un lavage adaptés à leur composition. Ne vous préoccuper plus de savoir si c’est un lavage à sec, avec quel type de lessive, nos collaborateurs s’occupe de tout.</span>
            </div>
        </div>

        <div>
            <div class="content">
            <h3>Réparation</h3>
            <span>Clean Up’ met tout en œuvre pour vous satisfaire et vous faire gagner du temps. Ourlets et ajustements en tout genre, réparations, fermetures, boutons, couture… Il vous suffit de nous demander.</span>
            </div>
        </div>

        <div>
            <div class="content">
            <h3>Détachage</h3>
            <span>Faites confiances à nos équipes pour redonner vie à vos vêtement en enlevant toutes les tâches, même les plus difficiles et ceux, sans détériorer votre textile. </span>
            </div>
        </div>

        <div>
            <div class="content">
            <h3>Blanchisserie</h3>
            <span>Votre robe ou votre chemise préférée à perdu sa blancheur d’origine ? Faites confiances à nos équipes pour rendre votre textile comme neuf</span>
            </div>
        </div>
    </div>
</section>
