<div class="container" id="priceform">
    <div class="custom-mobile">
        <h2 class="mb-4">Les prix chez CleanUp' </h2>
        <p>Comme la transparence est une valeur importante pour nous, découvrez ci-dessous la liste de nos tarifications ! Evitez ainsi toute mauvaise supprise au moment du paiement.</p>
    </div>
    <div class="accordion accordion-flush">
        <div class="accordion-item">
            <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseService" aria-expanded="false">
                    PRIX SERVICES
                </button>
            </h3>
            <div id="collapseService" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr id="itemsform" *ngFor="let items of prestations"> 
                                <div class="d-flex justify-content-between p-1">
                                    <p>{{ items.name }}</p>
                                    <p>{{ items.price }} €</p>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseArticle" aria-expanded="false">
                    PRIX ARTICLES
                </button>
            </h3>
            <div id="collapseArticle" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr id="itemsform" *ngFor="let items of articles"> 
                                <div class="d-flex justify-content-between p-1">
                                    <p>{{ items.name }}</p>
                                    <p>{{ items.price }} €</p>
                                </div>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
        </div>

        <div class="accordion-item">
            <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false">
                    PRIX MATIERES
                </button>
            </h3>
            <div id="flush-collapseThree" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr id="itemsform" *ngFor="let items of materials"> 
                                <div class="d-flex justify-content-between p-1">
                                    <p>{{ items.name }}</p>
                                    <p>{{ items.price }} €</p>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
