<div id="carouselExample" class="carousel carousel-dark slide flex-wrap">
    <div class="carousel-inner d-flex align-items-center">
        <div class="carousel-item active">
            <div  class="col-md-6 mx-auto avis-client-border">
                <div class="d-flex flex-row">
                    <div>
                        <img src="assets/images/photo_profil_julie.png" alt="">
                    </div>
                    <div class="mx-4">
                        <h4 class="mb-0">Julie Lordas</h4>
                        <div class="star-rating">
                            &#9733; &#9733; &#9733; &#9733; &#9733;
                        </div>			
                        <p>Travail exceptionnel sur ma robe de soirée. Ils ont réussi à éliminer toutes les taches et à la rendre comme neuve. Je suis totalement satisfaite !</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="col-md-6 mx-auto avis-client-border">
                <div class="d-flex flex-row">
                    <div>
                        <img src="assets/images/photo_profil_clara.png" alt="">
                    </div>
                    <div class="mx-4">
                        <h4 class="mb-0">Clara Blanc</h4>
                        <div class="star-rating">
                            &#9733; &#9733; &#9733; &#9733; &#9733;
                        </div>			
                        <p>Excellent pressing ! Service impeccable et personnel sympathique. Je recommande !</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="col-md-6 mx-auto avis-client-border">
                <div class="d-flex flex-row">
                    <div>
                        <img src="assets/images/photo_profil_Lucas.png" alt="">
                    </div>
                    <div class="mx-4">
                        <h4 class="mb-0">Lucas Lebon</h4>
                        <div class="star-rating">
                            &#9733; &#9733; &#9733; &#9733; &#9733;
                        </div>			
                        <p>J'ai récemment utilisé les services de ce pressing pour nettoyer ma robe de mariée avant de la conserver. Je dois dire que j'ai été...  Lire la suite</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
</div>