<section>
    <div id="custom_bloc_payment" class="py-3">
        <div class="row">
            <div class="col-md d-flex flex-column">
                <p>Titulaire du la carte : </p><p> Anne-Marie LEBON</p>            
            </div>
            <div class="col-md" id="custom_mobile_margin">
                <p id="custom_cb">Numéro de carte :</p><p> **** **** **** *004</p>
                <p id="custom_cb">Date d'expiration :  09/25</p>
                <p id="custom_cb">Code de sécurité :   ***</p>
            </div>
        </div>
        <div>
            <a class="d-flex align-items-center text-decoration-none text-dark gap-1" id="delete_payment"><img width="15" height="15" src="assets/icons/trash.png">Supprimer la carte</a>
        </div>
    </div>

    <div class="mb-2 mt-3">
        <a class="d-flex align-items-center text-decoration-none text-dark gap-2" id="custom_img"><img width="17" height="17" src="assets/icons/add_payment.png">Ajouter une carte</a>
    </div>
</section>

<!-- Mettre en place le systeme d'ajout de carte avec formulaire à remplir + la possibilité de supprimer la carte -->