<!-- Bloc suivi commande -->
<div class="padmarg_custom" >
    <div class="container">
        <div class="track">
            <div class="step active"> 
                <span class="icon">
                    <img class="inactive-icon" width="17" height="17" src="assets/icons/shopping-cart_user.png">
                    <img class="active-icon" width="17" height="17" src="assets/icons/orders.png">
                </span>
                <span class="text">Panier</span>
            </div>
            <div class="step active"> 
                <span class="icon">
                    <img class="inactive-icon" width="17" height="17" src="assets/icons/store.png">
                    <img class="active-icon" width="17" height="17" src="assets/icons/store_bl.png">
                </span>
                <span class="text">Date de dépôt</span>
            </div>
            <div class="step active"> 
                <span class="icon">
                    <img class="inactive-icon" width="17" height="17" src="assets/icons/user_profil.png">
                    <img class="active-icon" width="17" height="17" src="assets/icons/user_prodil_bl.png">
                </span> 
                <span class="text">Info Profil</span>
            </div>
            <div class="step active"> 
                <span class="icon">
                    <img class="inactive-icon" width="17" height="17" src="assets/icons/euro.png"> 
                    <img class="active-icon" width="17" height="17" src="assets/icons/euro_bl.png"> 
                </span> 
                <span class="text">Paiement</span>
            </div>
        </div>
    </div>        
</div>

<!-- Bloc remerciement -->
<div class="container">
    <div class="d-flex justify-content-center align-content-center">
        <h2>L’équipe <img class="" width="auto" height="50" src="assets/logo-horizon.png"></h2>
    </div>
    <h2 class="text-center">vous remercie pour votre commande</h2>

    <div class="text-center mt-5">
        <button class="btn" id="btn1">Télécharger votre ticket prestation <img id="imgBtn1" class="imgcust" width="17" height="17" src="assets/icons/download_bl.png"></button>
    </div>

    <p class="text-center small font-italic text-danger mt-2">Attention : Ce ticket est à présenter le jour du dépôt de vos articles.</p>

    <div class="text-center mt-4">
        <button class="btn" id="btn3">Télécharger votre récapitulatif de commande <img id="imgBtn3" class="imgcust" width="17" height="17" src="assets/icons/download.png"></button>
    </div>

    <div class="text-center mt-3">
        <button routerLink="/" class="btn btn-link font-bold text-dark">Retour à la page d'accueil</button>
    </div>
</div>

