<section id="slide_aboutUs">
    <div class="overlay d-flex flex-column justify-content-center align-items-center">
        <h2>Une question ? </h2>
        <h3>Voici la FAQ CleanUp', elle vous guidera dans vos recherches</h3>
    </div>
</section>

<section class="mt-4 mb-5">
    <div class="container">

    <h3>Mon compte client</h3>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h4 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#DeleteProfil" >
                    Comment supprimer mon compte client ?
                </button>
            </h4>
            <div id="DeleteProfil" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <p>Pour supprimer votre compte, connectez-vous à votre profil sur notre site, allez dans la section "Paramètres du compte", recherchez l'option "Supprimer le compte" et suivez les instructions fournies pour confirmer la suppression. Vous recevrez également une notification par e-mail confirmant la suppression.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h4 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#LoginProfil">
                    Je n'arrive pas à me connecter.
                </button>
            </h4>
            <div id="LoginProfil" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <p>Si vous avez des difficultés à vous connecter, assurez-vous d'utiliser le nom d'utilisateur et le mot de passe corrects associés à votre compte. En cas d'oubli, utilisez l'option "Mot de passe oublié" pour réinitialiser votre mot de passe. Si le problème persiste, veuillez contacter notre SAV en fournissant des détails sur votre compte pour obtenir une assistance personnalisée.</p>
                </div>
            </div>
        </div>
    </div>

    <h3 class="mt-4">Ma commande</h3>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h4 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#trackingorder" >
                    Suivre ma commande
                </button>
            </h4>
            <div id="trackingorder" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <p>Pour suivre votre commande en temps réel, rendez-vous sur votre profil, sur la page "Suivi des commandes" et saisissez le numéro de suivi fourni dans la confirmation de votre commande. Vous y trouverez des mises à jour régulières sur la localisation actuelle de votre commande jusqu'à sa livraison.</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h4 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#CancelOrder">
                    Puis-je annuler ma commande ou la modifier ?
                </button>
            </h4>
            <div id="CancelOrder" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <p>Vous avez la possibilité d'annuler ou de modifier une commande jusqu'à 24h avant. Pour ce faire, vous pouvez le faire via votre espace client en allant dans la rubrique "Mes commandes" et on cliquant sur "modifier" ou "annuler" la commande en question. Au delà du délais donné ci-dessus, il vous sera impossible de cliquer sur ces bouton.</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h4 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#StainRemoval">
                    Que ce passe-t-il si le linge ne peut pas être dêtaché ?
                </button>
            </h4>
            <div id="StainRemoval" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <p>En cas de difficulté à détacher le linge, notre équipe prendra des mesures appropriées pour minimiser les dommages. Nous vous contacterons pour discuter des options disponibles, telles que l'utilisation de techniques de nettoyage alternatives. Votre satisfaction reste notre priorité.</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h4 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#TimeLimit">
                    Quels sont les délais de traitement des commandes ?
                </button>
            </h4>
            <div id="TimeLimit" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <p>En cas de difficulté à détacher le linge, notre équipe prendra des mesures appropriées pour minimiser les dommages. Nous vous contacterons pour discuter des options disponibles, telles que l'utilisation de techniques de nettoyage alternatives. Votre satisfaction reste notre priorité.</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h4 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#PaiementOrder">
                    Quels sont les moyens de paiement acceptés ?
                </button>
            </h4>
            <div id="PaiementOrder" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <p>Nous acceptons plusieurs modes de paiement (cartes de crédit, et les options de paiement électronique telles que PayPal). Toutes les transactions sont sécurisées.</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h4 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Invoice">
                    Comment obtenir une facture ?
                </button>
            </h4>
            <div id="Invoice" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <p>Après avoir effectué le paiement, la facture correspondante vous sera automatiquement envoyée par e-mail. Si vous souhaitez une copie supplémentaire ou si vous avez des difficultés à la retrouver, vous pouvez également la télécharger depuis la section "Historique des commandes" de votre compte en ligne.</p>
                </div>
            </div>
        </div>
    </div>

    <h3 class="mt-4"> Le pressing</h3>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h4 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#complaint">
                    Faire une réclamation.
                </button>
            </h4>
            <div id="complaint" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <p>Si vous avez des préoccupations ou des problèmes avec nos services, veuillez remplir le formulaire de réclamation disponible sur notre site ou contacter notre service clientèle via notre formulaire. Nous traiterons votre réclamation le plus rapidement possible et travaillerons avec vous pour trouver une solution satisfaisante.</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h4 class="accordion-header" >
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#OpeningTime">
                    Quelles sont vos horaires du pressing ?
                </button>
            </h4>
            <div id="OpeningTime" class="accordion-collapse collapse">
                <div class="accordion-body">
                    <p>Votre pressing est ouvert du lundi au vendredi de çh à 19h. Vous pouvez nous retrouver au 25 rue de la comédie, 69006 LYON</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
