<img class="wave_footer" src="assets/footer.png">
<section id="footer_background">
<footer class="pt-5">
    <div class="container">
        <div class="row pb-4 custom_footer">
            <div class="col-6 col-md-3 col-sm-6">
                <h3>Nos prestations</h3>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a routerLink="/services" class="nav-link p-0 text-muted">Nettoyage</a></li>
                    <li class="nav-item mb-2"><a routerLink="/services" class="nav-link p-0 text-muted">Détachage</a></li>
                    <li class="nav-item mb-2"><a routerLink="/services" class="nav-link p-0 text-muted">Repassage</a></li>
                    <li class="nav-item mb-2"><a routerLink="/services" class="nav-link p-0 text-muted">Blanchisserie</a></li>
                    <li class="nav-item mb-2"><a routerLink="/services" class="nav-link p-0 text-muted">Réparation</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 col-sm-6">
                <h3>Services</h3>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a routerLink="/order" class="nav-link p-0 text-muted">Commander</a></li>
                    <li class="nav-item mb-2"><a routerLink="/FAQ" class="nav-link p-0 text-muted">FAQ</a></li>
                    <li class="nav-item mb-2"><a routerLink="/contact" class="nav-link p-0 text-muted">SAV</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Avis client</a></li>
                </ul>
            </div>

            <div class="col-6  col-md-3 col-sm-5">
                <h3>Autres</h3>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a routerLink="/CGV" class="nav-link p-0 text-muted">CGV & CGU</a></li>
                    <li class="nav-item mb-2"><a routerLink="/Mention_Legale" class="nav-link p-0 text-muted">Mentions Légales</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-4 col-sm-7 mb-3">
                <form>
                    <h3>Newsletter</h3>
                    <div class="d-flex flex-column flex-md-row w-100 gap-2">
                        <input id="newsletter1" type="text" class="form-control" placeholder="Adresse email">
                        <button class="btn" id="btn4" type="button">S'abonner</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="custonMobile_margin py-4 border-top">
            <div class="col">
                <p>© 2023 Copyright Camille Janin.</p>
            </div>
            <div class="col">
                <div id="icons_reseaux">
                    <div class=" custom-mobile">
                        <a href=""><img src="assets/icons/facebook.png" alt=""></a>
                    </div>
                    <div class=" custom-mobile">
                        <a href=""><img src="assets/icons/instagram.png" alt=""></a>
                    </div>
                    <div class=" custom-mobile">
                        <a href=""><img src="assets/icons/linkedin.png" alt=""></a>
                    </div>
                    <div class=" custom-mobile">
                        <a href=""><img src="assets/icons/youtube.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</section>