<section id="slide_home">
    <div class="container mb-5 pt-5" >
        <div class="row" >
            <div class="col-md-6 align-self-center" id="custom_mobile">
                <h1 class="pb-2" id="h1_home">Clean Up’, votre pressing de qualité</h1>
                <h2 id="h2_home">CONFIEZ-NOUS VOS VÊTEMENTS EN 1 CLIC !</h2>
                <p class="mt-4 mb-4">Nos 40 années d’expériences nous permettent de satisfaire l’ensemble des besoins de nos clients. Pourquoi pas vous ?</p>
                <button class="btn" id="btn1" routerLink="/order">Passer commande</button>
            </div>

            <div class="col-md-6" id="margin_mobile">
                <img id="img_home" src="assets/images/homme_pressing.png" alt="">
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row align-items-center" id="marginbloc2">
        <div class="col-md-6" id="img_custon_mobile">
            <img class="image_tournesol" src="assets/images/Design sans titre(1).png" alt="" />
        </div>

        <div class="col-md-6" id="who_mobile_custom">
            <h2 class="mb-4 pb-3" id="who_title_custom_mob">Qui sommes-nous ?</h2>
            <p>Depuis plus de 40 ans, votre pressing Clean Up’ met son savoir-faire à votre service. Grâce à nos machines dernières technologie, nous pouvons apporté sur place le plus grand soin à vos vêtements et linges de maison afin de leur redonner vie. Nous ne passons par aucun prestataire. Rien ne résiste à nos équipes ! <br>

            <br> Quel est notre objectif ? Vous faciliter la vie. <br>
                
            <br> Comment ? En répondant à l’ensemble de vos besoins, facilement et rapidement. Lessives, Repassage, Réparation, tâche tenace, terminé les petits tracas du quotidien.  Nous sommes là pour vous aider !</p>
            
            <button class="btn mt-4" id="btn3" routerLink="/about_us">Nous découvrir</button>
        </div>
    </div>
</section>

<section id="steps_services" class="text-center"> 
    <div class="container">
        <h2>Comment ça fonctionne ?</h2>

        <div class="row justify-content-center gap-4">
            <div class="step">
                <img src="assets/icons/step1.png" alt="icon étape 1" />
                <img class="step_transition" src="assets/icons/step1_icon.png" alt="icon étape 1"/>
                <h3>Choisissez votre prestations</h3>
                <p class="text-center">Sélection du service souhaité, de l'article concerné et de sa quantité</p>
            </div>

            <div class="step">
                <img src="assets/icons/step2.png" alt="icon étape 2" />
                <img class="step_transition" src="assets/icons/step2_icon.png" alt="icon étape 2"/>
                <h3>Choisissez votre date de dépôt</h3>
                <p class="text-center">Déposez vos articles dans nos pressing quand vous le désiré</p>
            </div>

            <div class="step">
                <img src="assets/icons/step3.png" alt="icon étape 3" />
                <img class="step_transition" src="assets/icons/step3_icon.png" alt="icon étape 3"/>
                <h3>Votre paiement 100% sécurisé</h3>
                <p class="text-center">Plus rapide et sécurisé, payez directement en ligne</p>
            </div>

            <div class="step">
                <img src="assets/icons/step4.png" alt="icon étape 4" />
                <img class="step_transition" src="assets/icons/step4_icon.png" alt="icon étape 4"/>
                <h3>Fin de mission</h3>
                <p class="text-center">Un SMS/mail vous sera envoyé pour vous en informer que vos articles sont prêt !</p>
            </div>
        </div>
    </div>
</section>

<section id="bloc_presta">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6" id="presta">
                <h2>Des prestations selon vos besoins</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima est quae, magnam vero unde illo reprehenderit? In sequi ipsa ratione sed rem, possimus error quae pariatur velit fugiat? Natus, sed! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima est quae, magnam vero unde illo reprehenderit? In sequi ipsa ratione sed rem, possimus error quae pariatur velit fugiat? Natus, sed!</p>

                <button class="btn mt-4" id="btn3" routerLink="/services">En savoir +</button>
            </div>

            <div class="col-md-6" id="slider_service_custom_mobile">
                <app-slider-services></app-slider-services>
            </div>
            <div class="col-md-6" id="slider_service_custom_mobile_v2">
                <app-slider-services-v2></app-slider-services-v2>
            </div>
        </div>
    </div>
</section>


<section id="background_home_contact">
    <div class="container">
        <div id="info_cus_mob">
            <div class="row">
                <div class="col-md-5 align-self-center" id="bloc_info_mobile">
                    <h3 class="mb-4"> Où et Quand nous trouver ?</h3>
                    <div>
                        <p><img id="icon_contact" src="assets/icons/localisation.png" alt="Adresse"> 25 rue de la comédie, 69006 LYON</p>

                        <p><img id="icon_contact" src="assets/icons/mail.png" alt="Email"> contacts&#64;cleanup.fr</p>
                
                        <p><img id="icon_contact" src="assets/icons/phone.png" alt="Téléphone"> 04.36.58.94.12</p>

                        <p><img id="icon_contact" src="assets/icons/store.png" alt="Horaires"> Ouvert du lundi au vendredi de 9h à 19h</p>
                    </div>
                </div>
                <div class="col-md-7">
                    <img src="assets/images/map_lyon.png" alt="map lyon" id="map_lyon">
                </div>
            </div>
        </div>

        <div id="map_custom_mobile">
            <div class="row ">
                <div class="col-md-8 align-self-center" id="bloc_info_mobile_v2">
                    <h3 class="mb-4"> Où et Quand nous trouver ?</h3>
                    <div id="localisation_v2">
                        <p><img id="icon_contact_v2" src="assets/icons/localisation.png" alt="Adresse"> 25 rue de la comédie, 69006 LYON</p>

                        <p><img id="icon_contact_v2" src="assets/icons/mail.png" alt="Email"> contacts&#64;cleanup.fr</p>
                
                        <p><img id="icon_contact_v2" src="assets/icons/phone.png" alt="Téléphone"> 04.36.58.94.12</p>

                        <p><img id="icon_contact_v2" src="assets/icons/store.png" alt="Horaires"> Ouvert du lundi au vendredi de 9h à 19h</p>
                    </div>
                </div>
                <div  class="col-md-4 d-flex justify-content-center align-items-center">
                    <button class="btn mb-5" id="btn1" routerLink="/contact">Nous contacter</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="avis_bloc">
    <h2 class="text-center">Ils nous font confiance</h2>

    <div class="container">
        <div id="google_avis_v1">
            <div class="row" >
                <div class="col-md-4">
                    <div class="d-flex justify-content-center mt-5">             
                        <div class="content text-center">
                            <div class="ratings">
                                <div>
                                    <img class="img-container" src="assets/images/logo_google.png" alt="">
                                </div>
                                <span class="product-rating">4.8</span><span>/5</span>
                                <div class="rating-text">
                                    <span>289 avis Google</span>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>

                <div class="col-md-8 mx-auto">
                    <app-slider-google-review></app-slider-google-review>
                </div>
            </div>
        </div>

        <!-- Bloc qui apparait à partir de 992px - responsive -->
        <div id="google_avis_v2">
            <div class="d-flex justify-content-center mt-3">             
                <div class="content text-center">
                    <div class="ratings">
                        <div>
                            <img class="img-container" src="assets/images/logo_google.png" alt="">
                        </div>
                        <span class="product-rating">4.8</span><span>/5</span>
                        <div class="rating-text">
                            <span>289 avis Google</span>
                        </div>
                    </div>
                </div>
            </div> 

            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto avis-client-border" id="avis_1">
                        <div class="d-flex flex-row">
                            <div>
                                <img src="assets/images/photo_profil_julie.png" alt="">
                            </div>
                            <div class="mx-4">
                                <h4 class="mb-0">Julie Lordas</h4>
                                <div class="star-rating">
                                    &#9733; &#9733; &#9733; &#9733; &#9733;
                                </div>			
                                <p>Travail exceptionnel sur ma robe de soirée. Ils ont réussi à éliminer toutes les taches et à la rendre comme neuve. Je suis totalement satisfaite !</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 mx-auto avis-client-border" id="avis_2">
                        <div class="d-flex flex-row">
                            <div>
                                <img src="assets/images/photo_profil_clara.png" alt="">
                            </div>
                            <div class="mx-4">
                                <h4 class="mb-0">Clara Blanc</h4>
                                <div class="star-rating">
                                    &#9733; &#9733; &#9733; &#9733; &#9733;
                                </div>			
                                <p>Excellent pressing ! Service impeccable et personnel sympathique. Je recommande !</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mx-auto avis-client-border" id="avis_3">
                        <div class="d-flex flex-row">
                            <div>
                                <img src="assets/images/photo_profil_Lucas.png" alt="">
                            </div>
                            <div class="mx-4">
                                <h4 class="mb-0">Lucas Lebon</h4>
                                <div class="star-rating">
                                    &#9733; &#9733; &#9733; &#9733; &#9733;
                                </div>			
                                <p>J'ai récemment utilisé les services de ce pressing pour nettoyer ma robe de mariée avant de la conserver. Je dois dire que j'ai été...  Lire la suite</p> <!-- Ici lorsque l'on clic sur "lire la suite" le lien nous emmene à l'avis google associé -->
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn" id="btn3">Voir plus d'avis</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
