<div class="row mb-4" id="custom-mobile">
    <div class="col d-flex align-items-center justify-content-center" id="mobile-priceT">
        Prix total : {{ totalPrice }}€  
    </div>

    <div class="col">
    <form>
        <div class="form-group custom-mob-align-txt">
            <h3 class="">Choisissez un service :</h3>
            <select class="form-control mb-3">
                <option *ngFor="let presta of prestations">{{ presta.name }} - {{ presta.price }}€</option>
            </select>

            <div>
                <h3 class="">Choisissez l'article concerné :</h3>
                <select class="form-control mb-3">
                    <option *ngFor="let article of articles">{{ article.name }} - {{ article.price }}€</option>
                </select>

                <div class="container" id="cust-marg-mob">
                    <h3 class="">Choisissez la quantité :</h3>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button type="button" class="btn btn-outline-secondary" (click)="decreaseQuantity()">-</button>
                        </div>
                        <input type="text" class="form-control text-center" [value]="articlesQuantity">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary" (click)="increaseQuantity()">+</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <h3>Choisissez la matière de votre article :</h3>
            <select class="form-control mb-4">
                <option *ngFor="let material of materials">{{ material.name }} (+{{ material.price }}€)</option>
            </select>
        </div>
        <div class="cust-btn-mob">
            <button type="submit" id="btn1" class="btn">Simuler</button>
        </div>
    </form>
    </div>
</div>