#slide_aboutUs {
    background-image: linear-gradient(to bottom, #9FC5CE, #67959F);
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    position: relative; 
}

#slide_aboutUs h2 {
    color: white;
    font-size: 60px;
    margin-top: 50px;
}

#slide_aboutUs h3 {
    color: white;
    font-size: 35px;
    padding-top: 15px;
}

h3 {
    font-size: 30px;
}