<section id="slide_aboutUs">
    <div class="overlay d-flex flex-column justify-content-center align-items-center">
        <h2>Mention Légale</h2>
    </div>
</section>

<section>
    <div class="container my-5">
        <p>Les présentes mentions légales ainsi que les dispositions légales en vigueur en France régissent les conditions d’utilisation du site Internet « https://www.cleanup.fr ».</p>
        <p>Toute personne accédant au Site s’engage à accepter et respecter ces mentions légales sans réserve.</p>

        <h3>INFORMATIONS GÉNÉRALES</h3>
        <p>Le site et son Contenu tel que défini ci-après sont une initiative et la propriété exclusive de CLEAN UP', société par actions simplifiée avec un capital de 5 000 €.</p>
        <p>Elle est située 169 avenue Charles de Gaulle – 69002 LYON, Siren n°878 768 043, N° fiscal : 20193360158383.</p> 
        <p>Directeur de la publication : Laeticia LEPETIT – 06.34.21.27.92</p>  
        <p>Conception et réalisation : WYBE Agency, SAS immatriculée au Registre du Commerce et des Sociétés de Lyon sous le numéro 834 728 198, dont le siège social est au 166 avenue Berthelot 69002 Lyon.</p>   
        <p>Hébergement : Shopify, 150 rue Elgin Suite 800 Ottawa, Ontario K2P 1L4 Canada. </p>

        <h3>MISES EN GARDE</h3>
        <p>Le site offre un contenu de présentation, d’information et de ventes.</p>
        <p>Il n’accueille aucune publicité de quelque nature que ce soit.</p>
        <p>CleanUp' attire l'attention des visiteurs sur le fait que certaines informations communiquées sur le site sont susceptibles de ne pas être appropriées à des personnes résidant hors de France, et ce en raison notamment des différences de lois, de réglementations qui peuvent exister entre les différents pays. </p>

        <h3>GARANTIE – RESPONSABILITÉ</h3>
        <p>En tant qu’éditeur et responsable du contenu du site, CleanUp' s’efforce de fournir un Contenu fiable et actualisé mais ne garantit en aucun cas qu’il soit complet et exempt d’inexactitude et/ou d’omission.</p>
        <p>CleanUp' ne saurait être tenu pour responsable des éventuelles erreurs ou omissions, d’une indisponibilité de tout ou partie des informations proposées et décline toute responsabilité en cas d’utilisation incorrecte ou non appropriée du site et/ou du contenu.</p>
        
        <h3>PROPRIÉTÉ INTELLECTUELLE</h3>
        <p>Le site peut contenir des informations confidentielles ainsi que des données protégées par le droit de la propriété intellectuelle.</p>
        <p>Ainsi, sauf mention contraire, les droits de propriété intellectuelle sur les documents et toute donnée de toute nature contenus dans le site et chacun des éléments composant ledit site (images, illustrations, marques, logos, sons, textes, éléments graphiques, charte...), y compris les logiciels et/ou bases de données (ci-après dénommés le « Contenu »), sont la propriété exclusive de CleanUp', celle-ci ne concédant aucune licence, ni aucun droit autre que celui de consulter le site.</p>
        <p>La reproduction de tout ou partie du contenu est expressément interdite. Il est également interdit de copier, modifier, créer une œuvre dérivée, assembler, décompiler (à l'exception des cas prévus par la loi), vendre, attribuer, sous-licencier ou transférer de quelque manière que ce soit tout droit afférent au contenu.</p>

        <h3>GÉNÉRALITÉS</h3>
        <p>Modifications</p>
        <p>Ces mentions légales peuvent être modifiées à tout moment et sans préavis par CleanUp'. Toute personne consultant le Site est invitée à en prendre connaissance régulièrement.</p>
        
        <p>Intégralité</p>
        <p>Dans l'hypothèse où l'une des dispositions des présentes mentions légales serait nulle du fait d'un changement de législation, de réglementation ou suite à une décision de justice, cela n’affecterait en aucun cas la validité et le respect des autres dispositions des présentes mentions légales. </p>
        
        <p>Liens hypertextes</p>
        <p>CleanUp' ne saurait en aucun cas être tenue pour responsable de l'objet, de la non-accessibilité et/ou du contenu des sites éventuellement reliés à son site par le biais de liens hypertextes et qui ne seraient pas administrés et contrôlés directement par CleanUp'. </p>
        
        <p>Loi « Informatique et Libertés »</p>
        <p>Les données à caractère personnel communiquées par l’internaute, notamment à travers les formulaires, sont réservées à l’usage exclusif de CleanUp'.</p>
        <p>Elles lui permettent de gérer les abonnements des internautes aux différentes lettres d’information éditées par CleanUp' ou toutes autres demandes des internautes. L’internaute bénéficie d’un droit d’accès, de modification et de suppression des données à caractère personnel le concernant.</p>
        <p>Il peut exercer ce droit en écrivant à :</p>
        <p>CleanUp' – DPO 169 avenue Charles de Gaulle 69002 LYON – E-mail : dpo@cleanup.com.</p>
        <p>Pour plus d’informations et consulter la politique sur les données à caractère personnel en vigueur à CleanUp'. www.cleanup.com </p>
        
        <p>Cookies</p>
        <p>La navigation sur le site peut générer l’installation de cookies sur l’ordinateur des internautes, et ce à des fins purement statistiques (aucune donnée nominative ni personnelle n’est collectée). Tout internaute accepte la mise en place de ces cookies ou il peut s’opposer à l’enregistrement des cookies en configurant son navigateur Internet. </p>
        <p>CleanUp' n'assure aucune garantie, expresse ou tacite, concernant l'ensemble ou une partie de son site internet. Les informations à caractère personnel pouvant être collectées par le site cleanup.com sont destinées à CleanUp' qui, à défaut d'interdiction par l'internaute concerné, est autorisée à : </p>
        <ul>
            <li>Les conserver en mémoire informatique</li>
            <li>Les utiliser à des fins statistiques et d'information</li>
        </ul> 
        
        <p>CleanUp' peut implanter un "cookie" dans l'ordinateur du visiteur qui permettra de l'identifier. Il est rappelé que le visiteur peut s'opposer à l'enregistrement de "cookies" en configurant son navigateur dans ce sens. CleanUp' met en œuvre des moyens destinés à assurer la sécurité des fichiers constitués à partir des données nominatives collectées sur le Site. Cependant, CleanUp' ne maîtrise pas les risques liés au fonctionnement d'Internet et attire l'attention des internautes sur l'existence d'éventuels risques en termes de confidentialité des données transitant via ce réseau et décline toute responsabilité attachée à ce risque.  </p>
        
        <p>Loi applicable</p>
        <p>Les présentes conditions sont soumises au Droit français. </p>
        
        <p>© CleanUp' – 2023 Tous droits réservés</p>
    </div>
</section>